# Created by .ignore support plugin (hsz.mobi)
.idea/artifacts/
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
SSM.iml
dependency-reduced-pom.xml


